@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tilt+Warp&display=swap");

//FONTS FILE

$roboto: "Roboto", sans-serif;
$patrick-hand: "Patrick Hand SC", cursive;
$tilt: "Tilt Warp", sans-serif;


//FONTS SIZE

$size-title: 1.6rem;
$size-subtitle: 1.4rem;
$size-button: 0.8rem;
$size-nav: 0.8rem;