@use "../utils/colors";
@use "../utils/fonts";

.nav-collapsible {
  z-index: 20;
  display: block;
  background-color: colors.$white !important;
  position: absolute;
  transform: translateY(10px);
  width: 200px;
  border-radius: 20px !important;
  box-shadow: 2px 2px 7px colors.$grey !important;
  // margin: 5px;
  overflow: hidden;
  &__link {
    position: relative;
    display: block;
  }
  &__text {
    position: relative;
    color: colors.$w-blue;
    font-size: fonts.$size-nav;
    padding: 15px 20px;
    z-index: 25;
    margin: 0;
  }
}

.nav-collapsible__change {
  position: absolute;
  z-index: 5;
  background-color: colors.$bg-blue;
  top: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(-100%);
  transition-duration: 0.3s;
}

.nav-collapsible__link:hover .nav-collapsible__change {
  transform: translateX(0%);
  transition: 0.4s ease-in-out;
}
