@use "../utils/colors";
@use "../utils/fonts";
.p-drawer-header {
  margin-bottom: 1rem;
}

.drawer {
  background: colors.$white !important;
  padding: 2rem;
  box-shadow: 0.125rem 0.125rem 0.4375rem colors.$black-opacity !important;

  &-header {
    font-family: fonts.$roboto;
    color: colors.$w-blue;
    font-size: 0.9rem;
    font-weight: 800;
    padding: 0 0 1rem 0;
  }

  &-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 3rem 0;
  }

  &-nav__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &-nav__text {
    font-family: fonts.$tilt;
    color: colors.$bg-blue !important;
    font-size: 0.8rem;
    // margin: 1rem 0;
  }

  &-header-prenom {
    font-family: fonts.$patrick-hand;
    font-size: 2rem;
  }

  &-header-nom {
    text-transform: uppercase;
    font-family: fonts.$tilt;
    font-size: 2rem;
    line-height: 1.5625rem;
  }

  &-header-baseline {
    font-family: fonts.$patrick-hand;
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
  
  // &-button {
  //   margin-bottom: 2rem;
  // }
}

.link-drawer-line {
  margin: 0 !important;

  &__text {
    margin: 0.9375rem 0 !important;
  }
}

.p-drawer-content {
  padding: 1rem 1rem 2rem 0 !important;
}