@use "../utils/colors";
@use "../utils/fonts";

.link-line {
  text-decoration: none;
  font-family: fonts.$tilt !important;
  color: colors.$w-blue !important;
  display: block !important;
  cursor: pointer !important;
  background: none !important;
  position: relative !important;
  margin: 0 30px;
  &__text {
    margin: 25px 0;
    font-size: fonts.$size-nav;
  }
  &__icon {
    position: relative;
    margin-left: 0.25rem;
  }
}

.link-line__change {
  position: absolute;
  background-color: colors.$bg-blue;
  height: 4px;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  transition-duration: 0.3s;
}

.link-line:hover .link-line__change {
  transform: scaleX(1);
  transition: 0.3s ease-in-out;
}
