@use "../utils/colors";
@use "../utils/fonts";

.line {
  text-decoration: none;
  font-family: fonts.$tilt;
  text-transform: uppercase;
  color: colors.$w-blue;
  display: block;
  cursor: pointer;
  background: colors.$bg-beige;
  position: relative;
  // overflow: hidden;
  margin: 0 30px;
  &__text {
    margin: 25px 0;
    font-size: fonts.$size-nav;
  }
}

.line__change {
  position: absolute;
  background-color: colors.$bg-blue;
  height: 4px;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  transition-duration: 0.3s;
}

.line:hover .line__change {
  transform: scaleX(1);
  transition: 0.3s ease-in-out;
}
