@use "../utils/colors";
@use "../utils/fonts";

.baseline-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$bg-blue;
}

.contact-form-container {
  margin: 0 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
  margin: auto auto 3rem auto;
  row-gap: 2rem;

  &__label {
    display: block;
    font-size: 0.9375rem;
    font-family: fonts.$tilt;
    margin-left: 0.9375rem;
    margin-bottom: 1.25rem;
    color: colors.$w-blue;
  }

  &__input {
    width: 100%;
    background: colors.$bg-beige;
    font-size: 0.8rem !important;
    padding: 0.625rem 0.9375rem !important;
    border: 1px solid #ccc !important;
    border-radius: 1.25rem !important;
  }

  &__input::placeholder,
  &__textarea::placeholder {
    color: colors.$grey !important;
  }

  &__textarea {
    min-width: 100%;
    background: colors.$bg-beige;
    font-size: 0.8rem !important;
    padding: 0.625rem 0.9375rem !important;
    border: 1px solid #ccc !important;
    border-radius: 1.25rem !important;
  }

  &__message {
    display: block;
    font-size: 0.9375rem;
    font-family: fonts.$tilt;
    margin-left: 0.9375rem;
    margin-top: 0.625rem;
    color: red !important;
  }

  &__button {
    min-width: 12.5rem;
    padding: 0;
    align-self: center;
  }

  &__sentence {
    font-family: fonts.$tilt;
    text-align: center;
  }
}

.success {
  color: green;
}

.error {
  color: red;
}
