@use "../utils/colors";
@use "../utils/fonts";

#footer {
  background: colors.$w-blue;
  width: 100vw;
  padding: 2.5rem;
  color: colors.$grey;
}

.footer {
  &__wave {
    margin-bottom: -0.3125rem;
  }

  &-container {
    max-width: 80rem;
    margin: auto;
  }

  &-title {
    font-family: fonts.$patrick-hand;
    font-size: fonts.$size-title;
  }

  &-RS-newsletter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &-newsletter {
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  &-newsletter__sentence {
    line-height: 1.25rem;
    margin-bottom: 1.875rem;
    font-size: 0.8rem;
  }

  &-RS-container {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &-RS__link {
    color: colors.$grey;
    font-size: 1.75rem;
  }
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  &__group {
    // display: flex;
  }

  &__label {
    display: block;
    font-size: 0.8rem;
    font-family: fonts.$tilt;
    margin-bottom: 0.8rem;
    color: colors.$grey;
  }

  &__input {
    width: 100%;
    font-size: 0.8rem !important;
    background: colors.$w-blue;
    padding: 0.625rem 0.9375rem !important;
    border: 1px solid #ccc !important;
    border-radius: 1.25rem !important;
  }

  &__input::placeholder {
    color: #cccccc79 !important;
  }

  &__button {
    min-width: 12.5rem;
    padding: 0;
    margin-top: 0.5rem;
    // align-self: center;
  }
}
