@use "./utils/colors";
@use "./utils/fonts";
@use "./layout/sections";
@use "./layout/header";
@use "./layout/footer";
@use "./layout/contact-form";
@use "./layout/loader";
@use "./components/buttons";
@use "./components/drawer";
@use "./components/line";
@use "./components/collapsible";
@use "./pages/contact";
@use "./pages/legals-pages";

// MAIN ELEMENTS
* {
  box-sizing: border-box;
}

* a,
* button {
  border: none;
  text-decoration: none;
  font-family: fonts.$tilt;
  color: colors.$w-blue;
}

body {
  background: colors.$bg-beige;
  font-family: fonts.$roboto;
  color: colors.$w-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: fonts.$size;
  scroll-behavior: smooth;
}

.hidden-on-large {
  display: none;
}

@media screen and (max-width: 900px) {
  .hidden-on-mobile {
    display: none;
  }
  .hidden-on-large {
    display: block;
  }
}

// --------------- SCROLLTOP

.p-scrolltop {
  background: colors.$bg-blue !important;
  height: 3.125rem !important;
  width: 3.125rem !important;
  color: colors.$w-blue !important;
  right: 1.875rem !important;
  bottom: 1.875rem !important;
  box-shadow: 0.125rem 0.125rem 0.4375rem colors.$black-opacity !important;

  &-icon {
    height: 1.125rem !important;
  }
}

.p-scrolltop:hover {
  background: colors.$w-blue !important;
  color: colors.$bg-blue !important;
  transition: 0.3s ease-in-out;
}
