@use "./utils/colors";
@use "./utils/fonts";
@use "./layout/sections";
@use "./layout/header";
@use "./layout/footer";
@use "./layout/contact-form";
@use "./components/buttons";
@use "./components/drawer";
@use "./components/line";
@use "./components/collapsible";
@use "./pages/contact";

// MAIN ELEMENTS
* {
  box-sizing: border-box;
}

* a,
* button {
  border: none;
  text-decoration: none;
  font-family: fonts.$tilt;
  color: colors.$w-blue;
}

body {
  background: colors.$bg-beige;
  font-family: fonts.$roboto;
  color: colors.$w-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: fonts.$size;
}

.hidden-on-large {
  display: none;
}

@media screen and (max-width: 900px) {
  .hidden-on-mobile {
    display: none;
  }
  .hidden-on-large {
    display: block;
  }
}
