@use "../utils/colors";
@use "../utils/fonts";

.CGV {
  &-container {
    padding-top: 2.5rem;
    font-family: fonts.$roboto;
    line-height: 1.125rem;
    color: colors.$w-blue;
    margin: auto;
    max-width: 80rem;
  }

  &-title {
    font-family: fonts.$tilt;
    font-weight: 500;
  }
}

.mentions-legales {
  &-container {
    padding-top: 2.5rem;
    font-family: fonts.$roboto;
    line-height: 1.125rem;
    color: colors.$w-blue;
    margin: auto;
    max-width: 80rem;
  }

  &-title {
    font-family: fonts.$tilt;
    font-weight: 500;
  }

  &__mail {
    font-family: fonts.$roboto;
    font-weight: 800;
  }

  &__mail:hover {
    color: colors.$bg-blue;
    transition: 0.1s ease-in-out;
  }
}

.politiques-de-confidentialite {
  &-container {
    padding-top: 2.5rem;
    font-family: fonts.$roboto;
    line-height: 1.125rem;
    color: colors.$w-blue;
    margin: auto;
    max-width: 80rem;
  }

  &-title {
    font-family: fonts.$tilt;
    font-weight: 500;
  }

  &__mail {
    font-family: fonts.$roboto;
    font-weight: 800;
  }

  &__mail:hover {
    color: colors.$bg-blue;
    transition: 0.1s ease-in-out;
  }
}

@media screen and (max-width: 1350px) {
  .CGV {
    &-container {
      padding: 2.5rem 2.5rem 0 2.5rem;
    }
  }

  .mentions-legales {
    &-container {
      padding: 2.5rem 2.5rem 0 2.5rem;
    }
  }

  .politiques-de-confidentialite {
    &-container {
      padding: 2.5rem 2.5rem 0 2.5rem;
    }
  }
}

